.register {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
  margin-top: 150px;
  height: 376px;
  background-image: url(../../assets/images/info.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .regbtn {
   max-width: 200px;
   border: none;
   padding: 12px;
   border-radius: 10px;
    background-color: #EF7C00;
    transition: .4s;
    &:hover{
        color: #fff;
        transform: scale(1.1);
    }
  }
  p {
    padding: 10px 0;
  }

  input {
    margin-right: 10px;
    padding: 0 10px;
    height: 40px;
    border-radius: 0px 4px 4px 0px;
    border: 1px solid var(--borders-color-border, rgba(0, 16, 61, 0.12));
    background: var(--main-color-bg, #fff);
  }

  textarea {
   display: block;
   margin: 20px 0;
    padding: 10px;
    max-width: 446px;
    width: 100%;
    height: 80px;
    //   margin: 50px 0px 50px 50px;
  }
}
