.certificates {
  padding-bottom: 80px;
}
.certificates .slick-dots {
  position: absolute;
  bottom: -20px;
  left: 0;
}
.certificates .slick-dots li {
  display: inline-block;
  margin: 0 5px;
}
.certificates .slick-dots li button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #000;
}
.certificates .slick-dots li.slick-active button {
  background-color: #ef7c00;
}
.certificates .slick-slide > div {
  margin: 0 5px; /* Add a 10px gap between the images */
}
.certificates .slick-arrow.slick-prev {
  margin-left: 7px;
  background: #ef7c00;
}
.certificates .slick-arrow.slick-next {
  margin-right: 7px;
  background: #ef7c00;
}
.certificates span {
  color: #ef7c00;
}
.certificates h1 {
  text-align: center;
  padding-bottom: 25px;
}
.certificates img {
  display: block;
  margin: 0 auto; /* Center the images horizontally */
  max-width: 100%;
  height: auto;
}

.container.certificates {
  overflow: hidden;
}

.carousel-wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}