#news {
  padding: 80px 0;
}
#news .news-cards {
  display: flex;
  gap: 10px;
}
#news .news-cards img {
  width: 100%;
  height: 200px;
}
#news .news-cards .new-card {
  max-width: 400px;
  width: 100%;
}
#news .news-cards h3 {
  padding: 15px 0;
}
#news button {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border-radius: 7px;
  color: #EF7C00;
}
#news button:hover {
  color: white;
  background-color: #EF7C00;
}

h1 {
  padding-bottom: 35px;
  text-align: center;
  color: #2C2D2E;
}

@media (max-width: 900px) {
  .news-cards {
    flex-direction: column;
    align-items: center;
  }
}